data/**
!data/README.md

.DS_Store
*.zip
*.csv
*.png
*.mp4
yolo/output_images
__pycache__/*
yolo/.venv
yolo/data_yolo/*
yolo/__pycache__/*
yolo/output.mp4
prediction/*.pth
outputs/
web/public/data/60/*
prediction/__pycache__/*